@keyframes myAnimation{
	0%{
		transform: scale(0.5,0.5) rotate(0deg); 
	}
	100%{
		transform: scale(1.2,1.2) rotate(360deg);
	}
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	font-family: 'Poppins' , sans-serif;
}

.subtitle{
	font-size: 20px;
	text-transform: uppercase;
	line-height: 0.9;
	letter-spacing: 2.8px; 
	font-weight: 600;
	margin: 0;
}

.subtitle_about{
	margin: 49px 0 0 38px;
	display: flex;
}

.subtitle__text{
	font-size: 12px;
	text-transform: lowercase;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.47px;
	margin: 3px 0 0 9px;
}

.header{
	background-image: url(images/header.jpg);
	height: 714px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header__container{
	display: flex;
	justify-content: space-between;
}

.header__title{
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: 5.9px;
	max-width: 100px;
	margin:25px 0 0 35px;
}

.header__nav{
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	width: 255px;
	padding: 0;
	list-style: none;	
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.7;
	letter-spacing: 2.85px;
	margin: 31px 40px 0 0 ;
}

.header__nav_text-decoration{
	text-decoration: none;
	color: #000000;
}

.header__name{
	position: absolute;	
	top: 243px;
	left: 34px;
}

.header__text{
	font-size: 12px;
	margin:32px 0 0 0px;
	line-height: 1.5;
	letter-spacing: 0.56px;
	max-width: 400px;
}

.header__button{
	margin: 62px 0 0 0;	
	font-size: 12px;
	color: #ffffff;
	padding: 4px 36px 4px 36px;; 
	border: 2px solid #ffffff;
	border-radius: 20.2px;
	text-align: center;
	background: transparent;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 2.3;
	letter-spacing: 3.9px;
}

.header__button:hover{
	cursor: pointer;
	background: #ffffff;
	color: #6a4a4c;
	transition: 2s;
}

.header__button_left{
	margin: 0 0 0 12px;
}

.header__button_background{
	background: #000000;
    justify-content: center;
    margin: 4px 0px 50px 36px;
    border: 2px solid #000000;
    padding: 3px 16px 3px 25px;
}

.header__button_background::after{
	content: '\2192';
	height: 30px;
	width: 30px;
	display: inline-block;
}

.about{
	display: flex;
}

.imgPortfolio__img{
	width: 308px;
	height: 340px;
	margin: 41px 0 0 35px;
}

.imgPortfolio__img_animation{
	animation: myAnimation 10s infinite;
}

.introduction{
	display: flex;
	margin: 45px 0 0 59px;
}

.introduction__text{
	font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.54;
    letter-spacing: 0.5px;
    margin: 20px 0 0 0px;
    max-width: 345px;
}

.introduction__right{
	margin: 22px 0 0 82px;
}

.introduction__link {
	font-size: 12px;
	color: #000000;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.48px;
	margin: 0px 0px 0px 31px;
	align-items: center;
	display: flex;
	padding: 28px 0 0 0px;
	position: relative;
}

.introduction__link::before{
	content: url(images/download.jpg);
	background-size: 21px;
	display: inline-block;
	margin: 2px 0px 0px -30px;
	position: absolute;
	left: -3px;
}

.work{
	margin: 85px 0 0 57px;
}

.work__title{
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.48px;
	margin: 24px 0 3px 0;
	max-width: 253px;
}

.work__title_top{
	margin: 22px 0 0 0;
	max-width: 125px;
}

.work__date{
	font-size: 12px;
	font-weight: 300;
	line-height: 1.54;
	letter-spacing: 0.8px;
}

.row{
	display: flex;
}

.colum{
	flex: 50%;
}

.colum_right{
	flex: 40%;
}

.latest{
	background-color: #d1bac8;
	margin: 56px 0 0 0;
	padding: 54px 0 0px 3px;
	text-align: center;
	line-height: 2.8;
}

.latest__list{
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 32px auto 0px;
	padding-bottom: 50px;
	max-width: 1150px;
}

.latest__item{
	position: relative;
}

.latest__item:hover{
	cursor: pointer;
}

.latest__item::before{
	content: '';
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 234px;
	opacity: 0;
	position: absolute;
	transition: all 2s;
}

.latest__item:hover::before{
	opacity: 1;
}

.latest__item:hover .portfolioItemText{
	opacity: 1;
}

.latest__img{
	width: 364px;
	height: 234px;
}

.latest__projects{
	font-size: 12px;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.4px;
}

.portfolioItemText{
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 0;
    transition: all 2s;
    padding: 0px 21px 16px 38px;
    box-sizing: border-box;
}

.portfolioItemText__name{
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 0px 0 0 0;
}

.portfolioItemText__link{
	font-size: 12px;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 0.48px;
	text-decoration: none;
	color: #000000;
}

.portfolioItemText__link::after{
	content: '\2192';
	height: 30px;
	width: 30px;
	display: inline-block;
	margin: 0 0 0px 17px;
}

.feedbackForm{
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	margin: 35px 0 0 0;
}

.feedbackForm__button{
	text-align: center;
}

.pop-upWindow{
	text-align: center;
	font-size: 20px;
	background: #ffffff;
	color: #6a4a4c;
	margin: 52px 0 0 0;
}

.form{
	display: flex;
	justify-content: space-between;
	margin: 70px 200px 20px 234px;
}

.form__input, .form__textarea{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	line-height: 2.7;
	letter-spacing: 3.16px;
	margin-bottom: 27px;
	border: none;
	border-bottom: 5px solid rgba(0, 0, 0, 0.6);
	width: 360px;
	outline: none;
}

.form__textarea{
	padding-bottom: 104px;
	margin: -3px 0 0 0;
}